.git
.gitignore
.DS_Store
.env
.env.*
!.env.example
.idea
.vscode
node_modules
vendor
public/build
database/database.sqlite
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
tests
.phpunit.cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
